In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
impressions_path= "impressions.json"
impressions= pd.read_json(impressions_path)

impressions.drop_duplicates(inplace=True)
nan_value = float("NaN")
impressions.replace("", nan_value, inplace=True)
impressions.dropna(subset = ["country_code"], inplace=True)
impressions = impressions[impressions["country_code" and "id"].str.contains("None" or "NaN")==False]
impressions = impressions.astype({"app_id": int, "advertiser_id": int, "country_code": str, "id": str})
impressions

     app_id  advertiser_id country_code                                    id
0        32              8           UK  a39747e8-9c58-41db-8f9f-27963bc248b5
2         4             15           IT  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521
3        22             20           IT  fbb52038-4db1-46d3-a4de-108fd12cbfc7
7        30             27           DE  8a391b7a-219e-4dc4-af11-8cd98e8165aa
8         9              8           US  f9fe7a5d-5e14-45fa-88e6-438313712694
..      ...            ...          ...                                   ...
412      22             24           DE  917f8813-1ee4-48c0-b3e1-55f1dc108661
423       8             11           DE  5c569d67-59a2-42fa-8a2d-4e0d7fcb6cab
589       1              7           IT  af2c2db3-c854-423e-a940-97b0b90743f2
617      20             30           IT  afc054e3-f1b9-4aea-8f9a-2d084453c4a4
807      29              7           DE  3869394c-ddf6-4286-98a2-85f613754d04

[66 rows x 4 columns]

In [3]:
clicks_path= "clicks.json"
clicks= pd.read_json(clicks_path)

clicks = clicks.rename(columns={"impression_id": "id"})
clicks = clicks.astype({"id": str, "revenue": float})
clicks

                                      id   revenue
0   97dd2a0f-6d42-4c63-8cd6-5270c19f20d6  2.091226
1   43bd7feb-3fea-40b4-a140-d01a35ec1f73  2.479458
2   1b04c706-e3d7-4f70-aac8-25635fa24250  1.061739
3   31214d91-d950-4464-8316-ed3d302d49d3  2.074762
4   fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.783758
..                                   ...       ...
90  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521  2.070345
91  fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.287619
92  a94c843b-97de-4f59-be3c-2f71adeaf961  2.270868
93  11454767-ba1e-4e86-ba00-242dc85e73a4  0.954548
94  b2a60f0d-1d08-4738-9dc5-0eed9cddee82  0.804509

[95 rows x 2 columns]

In [4]:
merged = pd.merge(impressions, clicks, on="id")
merged

,app_id,advertiser_id,country_code,id,revenue
0,4,15,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.355039
1,4,15,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.070345
2,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.783758
3,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.898978
4,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.287619
...,...,...,...,...,...
60,33,11,US,fdc0a639-4b2d-4332-8f4e-7e08086a78c3,1.853479
61,21,22,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,1.061739
62,21,22,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,0.110705
63,23,10,US,a94c843b-97de-4f59-be3c-2f71adeaf961,2.270868
64,1,7,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030

In [5]:
impression_count = merged.groupby(['country_code','app_id','advertiser_id'])['id'].size().reset_index(name='impression_count')
impression_count = impression_count.astype({'impression_count': int})
impression_count

   country_code  app_id  advertiser_id  impression_count
0            DE       5             21                 1
1            DE       7             20                 1
2            DE      13             10                 1
3            DE      18             10                 1
4            DE      21             22                 2
5            DE      22             20                 2
6            DE      26             16                 1
7            DE      30             27                 2
8            DE      34             28                 2
9            DE      40             14                 3
10           DE      40             30                 1
11           IT       1              7                 1
12           IT       4             15                 2
13           IT       5             12                 2
14           IT       7              6                 1
15           IT      18             16                 1
16           IT      22             20                 3
17           IT      27             14                 1
18           IT      35             33                 1
19           IT      38             10                 2
20           UK      14             10                 1
21           UK      16             17                 4
22           UK      24             19                 2
23           UK      25             11                 1
24           US       9              8                 2
25           US      10             22                 2
26           US      11             18                 1
27           US      13             12                 2
28           US      15             34                 1
29           US      16              7                 3
30           US      23             10                 1
31           US      23             17                 2
32           US      28             29                 4
33           US      30              9                 5
34           US      30             28                 1
35           US      33             11                 1
36           US      39              5                 1

In [38]:
click_count = merged.groupby(['country_code','app_id','advertiser_id'])['revenue'].size().reset_index(name='click_count')
click_count

   country_code  app_id  advertiser_id  click_count
0            DE       5             21            1
1            DE       7             20            1
2            DE      13             10            1
3            DE      18             10            1
4            DE      21             22            2
5            DE      22             20            2
6            DE      26             16            1
7            DE      30             27            2
8            DE      34             28            2
9            DE      40             14            3
10           DE      40             30            1
11           IT       1              7            1
12           IT       4             15            2
13           IT       5             12            2
14           IT       7              6            1
15           IT      18             16            1
16           IT      22             20            3
17           IT      27             14            1
18           IT      35             33            1
19           IT      38             10            2
20           UK      14             10            1
21           UK      16             17            4
22           UK      24             19            2
23           UK      25             11            1
24           US       9              8            2
25           US      10             22            2
26           US      11             18            1
27           US      13             12            2
28           US      15             34            1
29           US      16              7            3
30           US      23             10            1
31           US      23             17            2
32           US      28             29            4
33           US      30              9            5
34           US      30             28            1
35           US      33             11            1
36           US      39              5            1

In [39]:
revenue = merged.groupby(['country_code','app_id','advertiser_id'])['revenue'].sum().reset_index()
revenue

   country_code  app_id  advertiser_id   revenue
0            DE       5             21  0.788711
1            DE       7             20  0.356624
2            DE      13             10  0.463224
3            DE      18             10  0.388200
4            DE      21             22  1.172445
5            DE      22             20  4.960972
6            DE      26             16  1.588118
7            DE      30             27  4.589644
8            DE      34             28  3.698559
9            DE      40             14  5.691894
10           DE      40             30  0.187998
11           IT       1              7  2.290030
12           IT       4             15  4.425384
13           IT       5             12  5.136534
14           IT       7              6  0.934817
15           IT      18             16  2.880423
16           IT      22             20  7.970356
17           IT      27             14  0.582097
18           IT      35             33  0.242942
19           IT      38             10  2.596509
20           UK      14             10  2.345114
21           UK      16             17  7.016603
22           UK      24             19  3.432455
23           UK      25             11  1.849348
24           US       9              8  2.789852
25           US      10             22  1.348501
26           US      11             18  1.785073
27           US      13             12  2.605671
28           US      15             34  2.135244
29           US      16              7  4.983315
30           US      23             10  2.270868
31           US      23             17  2.279857
32           US      28             29  8.327080
33           US      30              9  5.138592
34           US      30             28  0.773062
35           US      33             11  1.853479
36           US      39              5  1.319781

In [40]:
metric=pd.merge(impression_count, revenue)
metric

   country_code  app_id  advertiser_id  impression_count   revenue
0            DE       5             21                 1  0.788711
1            DE       7             20                 1  0.356624
2            DE      13             10                 1  0.463224
3            DE      18             10                 1  0.388200
4            DE      21             22                 2  1.172445
5            DE      22             20                 2  4.960972
6            DE      26             16                 1  1.588118
7            DE      30             27                 2  4.589644
8            DE      34             28                 2  3.698559
9            DE      40             14                 3  5.691894
10           DE      40             30                 1  0.187998
11           IT       1              7                 1  2.290030
12           IT       4             15                 2  4.425384
13           IT       5             12                 2  5.136534
14           IT       7              6                 1  0.934817
15           IT      18             16                 1  2.880423
16           IT      22             20                 3  7.970356
17           IT      27             14                 1  0.582097
18           IT      35             33                 1  0.242942
19           IT      38             10                 2  2.596509
20           UK      14             10                 1  2.345114
21           UK      16             17                 4  7.016603
22           UK      24             19                 2  3.432455
23           UK      25             11                 1  1.849348
24           US       9              8                 2  2.789852
25           US      10             22                 2  1.348501
26           US      11             18                 1  1.785073
27           US      13             12                 2  2.605671
28           US      15             34                 1  2.135244
29           US      16              7                 3  4.983315
30           US      23             10                 1  2.270868
31           US      23             17                 2  2.279857
32           US      28             29                 4  8.327080
33           US      30              9                 5  5.138592
34           US      30             28                 1  0.773062
35           US      33             11                 1  1.853479
36           US      39              5                 1  1.319781

In [41]:
metrics=pd.merge(metric, click_count)

In [42]:
metrics= metrics.rename(columns={"impression_count": "impressions", "click_count": "clicks"})
metrics= metrics[['app_id', 'country_code', 'advertiser_id', 'impressions', 'clicks', 'revenue']]

In [43]:
metrics["rate_per_click"] = metrics["revenue"]/metrics["impressions"]
metrics

,app_id,country_code,advertiser_id,impressions,clicks,revenue,rate_per_click
0,5,DE,21,1,1,0.788711,0.788711
1,7,DE,20,1,1,0.356624,0.356624
2,13,DE,10,1,1,0.463224,0.463224
3,18,DE,10,1,1,0.388200,0.388200
4,21,DE,22,2,2,1.172445,0.586222
5,22,DE,20,2,2,4.960972,2.480486
6,26,DE,16,1,1,1.588118,1.588118
7,30,DE,27,2,2,4.589644,2.294822
8,34,DE,28,2,2,3.698559,1.849280
9,40,DE,14,3,3,5.691894,1.897298
10,40,DE,30,1,1,0.187998,0.187998
11,1,IT,7,1,1,2.290030,2.290030
12,4,IT,15,2,2,4.425384,2.212692
13,5,IT,12,2,2,5.136534,2.568267
14,7,IT,6,1,1,0.934817,0.934817
15,18,IT,16,1,1,2.880423,2.880423
16,22,IT,20,3,3,7.970356,2.656785
17,27,IT,14,1,1,0.582097,0.582097
18,35,IT,33,1,1,0.242942,0.242942
19,38,IT,10,2,2,2.596509,1.298255
20,14,UK,10,1,1,2.345114,2.345114
21,16,UK,17,4,4,7.016603,1.754151
22,24,UK,19,2,2,3.432455,1.716228
23,25,UK,11,1,1,1.849348,1.849348
24,9,US,8,2,2,2.789852,1.394926
25,10,US,22,2,2,1.348501,0.674251
26,11,US,18,1,1,1.785073,1.785073
27,13,US,12,2,2,2.605671,1.302835
28,15,US,34,1,1,2.135244,2.135244
29,16,US,7,3,3,4.983315,1.661105
30,23,US,10,1,1,2.270868,2.270868
31,23,US,17,2,2,2.279857,1.139928
32,28,US,29,4,4,8.327080,2.081770
33,30,US,9,5,5,5.138592,1.027718
34,30,US,28,1,1,0.773062,0.773062
35,33,US,11,1,1,1.853479,1.853479
36,39,US,5,1,1,1.319781,1.319781

In [44]:
top_5=metrics.nlargest(36,['rate_per_click'])
top_5=top_5[['app_id', 'country_code', 'advertiser_id']]
top_5['recommended_advertiser_ids']=top_5.advertiser_id.tolist()
top_5.sort_values(['app_id', 'country_code'], ascending=[True, False], inplace=True)

In [45]:
top_5=top_5[['app_id', 'country_code', 'recommended_advertiser_ids']]
top_5

    app_id country_code  recommended_advertiser_ids
11       1           IT                           7
12       4           IT                          15
13       5           IT                          12
0        5           DE                          21
14       7           IT                           6
1        7           DE                          20
24       9           US                           8
25      10           US                          22
26      11           US                          18
27      13           US                          12
2       13           DE                          10
20      14           UK                          10
28      15           US                          34
29      16           US                           7
21      16           UK                          17
15      18           IT                          16
3       18           DE                          10
4       21           DE                          22
16      22           IT                          20
5       22           DE                          20
30      23           US                          10
31      23           US                          17
22      24           UK                          19
23      25           UK                          11
6       26           DE                          16
17      27           IT                          14
32      28           US                          29
33      30           US                           9
34      30           US                          28
7       30           DE                          27
35      33           US                          11
8       34           DE                          28
18      35           IT                          33
19      38           IT                          10
36      39           US                           5
9       40           DE                          14

In [46]:
top_5.to_json('recommended_advertiser_ids.json', orient='records')

In [47]:
metrics= metrics[['app_id', 'country_code', 'impressions', 'clicks', 'revenue']]
metrics

    app_id country_code  impressions  clicks   revenue
0        5           DE            1       1  0.788711
1        7           DE            1       1  0.356624
2       13           DE            1       1  0.463224
3       18           DE            1       1  0.388200
4       21           DE            2       2  1.172445
5       22           DE            2       2  4.960972
6       26           DE            1       1  1.588118
7       30           DE            2       2  4.589644
8       34           DE            2       2  3.698559
9       40           DE            3       3  5.691894
10      40           DE            1       1  0.187998
11       1           IT            1       1  2.290030
12       4           IT            2       2  4.425384
13       5           IT            2       2  5.136534
14       7           IT            1       1  0.934817
15      18           IT            1       1  2.880423
16      22           IT            3       3  7.970356
17      27           IT            1       1  0.582097
18      35           IT            1       1  0.242942
19      38           IT            2       2  2.596509
20      14           UK            1       1  2.345114
21      16           UK            4       4  7.016603
22      24           UK            2       2  3.432455
23      25           UK            1       1  1.849348
24       9           US            2       2  2.789852
25      10           US            2       2  1.348501
26      11           US            1       1  1.785073
27      13           US            2       2  2.605671
28      15           US            1       1  2.135244
29      16           US            3       3  4.983315
30      23           US            1       1  2.270868
31      23           US            2       2  2.279857
32      28           US            4       4  8.327080
33      30           US            5       5  5.138592
34      30           US            1       1  0.773062
35      33           US            1       1  1.853479
36      39           US            1       1  1.319781

In [16]:
metrics.to_json('metrics.json', orient='records')