In [178]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [179]:
impressions_path= "impressions.json"
impressions_raw= pd.read_json(impressions_path)
impressions_raw.drop_duplicates(inplace=True)
nan_value = float("NaN")
impressions_raw.replace("", nan_value, inplace=True)
impressions_raw.dropna(subset = ["country_code"], inplace=True)
impressions = impressions_raw[impressions_raw["country_code"].str.contains("None" or "NaN")==False]
impressions

      app_id  advertiser_id country_code                                    id
0         32            8.0           UK  a39747e8-9c58-41db-8f9f-27963bc248b5
2          4           15.0           IT  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521
3         22           20.0           IT  fbb52038-4db1-46d3-a4de-108fd12cbfc7
7         30           27.0           DE  8a391b7a-219e-4dc4-af11-8cd98e8165aa
8          9            8.0           US  f9fe7a5d-5e14-45fa-88e6-438313712694
...      ...            ...          ...                                   ...
589        1            7.0           IT  af2c2db3-c854-423e-a940-97b0b90743f2
617       20           30.0           IT  afc054e3-f1b9-4aea-8f9a-2d084453c4a4
807       29            7.0           DE  3869394c-ddf6-4286-98a2-85f613754d04
1282      18           16.0           IT                                  None
1459       7            6.0           IT                                   NaN

[68 rows x 4 columns]

In [180]:
clicks_path= "clicks.json"
clicks= pd.read_json(clicks_path)
clicks = clicks.rename(columns={"impression_id": "id"})
clicks.drop_duplicates(inplace=True)
clicks

                                      id   revenue
0   97dd2a0f-6d42-4c63-8cd6-5270c19f20d6  2.091226
1   43bd7feb-3fea-40b4-a140-d01a35ec1f73  2.479458
2   1b04c706-e3d7-4f70-aac8-25635fa24250  1.061739
3   31214d91-d950-4464-8316-ed3d302d49d3  2.074762
4   fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.783758
..                                   ...       ...
90  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521  2.070345
91  fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.287619
92  a94c843b-97de-4f59-be3c-2f71adeaf961  2.270868
93  11454767-ba1e-4e86-ba00-242dc85e73a4  0.954548
94  b2a60f0d-1d08-4738-9dc5-0eed9cddee82  0.804509

[95 rows x 2 columns]

In [175]:
merged = pd.merge(impressions, clicks, on="id")
merged

,app_id,advertiser_id,country_code,id,revenue
0,30,17.0,None,5deacf2d-833a-4549-a398-20a0abeec0bc,1.696280
1,30,17.0,None,5deacf2d-833a-4549-a398-20a0abeec0bc,0.426921
2,4,15.0,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.355039
3,4,15.0,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.070345
4,22,20.0,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.783758
...,...,...,...,...,...
95,21,22.0,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,1.061739
96,21,22.0,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,0.110705
97,27,12.0,None,1bf2baef-335d-4a6b-8bdd-dadab491af79,2.730851
98,23,10.0,US,a94c843b-97de-4f59-be3c-2f71adeaf961,2.270868
99,1,7.0,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030

In [176]:
nan_value = float("NaN")
merged.replace("", nan_value, inplace=True)
merged.dropna(subset = ["country_code"], inplace=True)

In [177]:
cleaned = merged[merged["country_code"].str.contains("None" or "NaN")==False]
cleaned

,app_id,advertiser_id,country_code,id,revenue
2,4,15.0,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.355039
3,4,15.0,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.070345
4,22,20.0,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.783758
5,22,20.0,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.898978
6,22,20.0,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.287619
...,...,...,...,...,...
94,33,11.0,US,fdc0a639-4b2d-4332-8f4e-7e08086a78c3,1.853479
95,21,22.0,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,1.061739
96,21,22.0,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,0.110705
98,23,10.0,US,a94c843b-97de-4f59-be3c-2f71adeaf961,2.270868
99,1,7.0,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030