In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
impressions_path= "impressions.json"
impressions= pd.read_json(impressions_path)

impressions.drop_duplicates(inplace=True)
nan_value = float("NaN")
impressions.replace("", nan_value, inplace=True)
impressions.dropna(subset = ["country_code"], inplace=True)
impressions = impressions[impressions["country_code" and "id"].str.contains("None" or "NaN")==False]
impressions = impressions.astype({"app_id": int, "advertiser_id": int, "country_code": str, "id": str})
impressions.head(50)

     app_id  advertiser_id country_code                                    id
0        32              8           UK  a39747e8-9c58-41db-8f9f-27963bc248b5
2         4             15           IT  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521
3        22             20           IT  fbb52038-4db1-46d3-a4de-108fd12cbfc7
7        30             27           DE  8a391b7a-219e-4dc4-af11-8cd98e8165aa
8         9              8           US  f9fe7a5d-5e14-45fa-88e6-438313712694
9        21             10           IT  84365cb7-14d9-44de-a36e-ca5acc94af36
10       35             33           IT  e96e4da4-9b15-421b-a2d0-437235945675
13       28             29           US  3cd54dd2-6858-4726-8629-e9d672a75591
14       15             34           US  72a5a121-ca88-421e-b2b5-b14d105aeda8
15       22             20           DE  31214d91-d950-4464-8316-ed3d302d49d3
19        5             25           US  23eb72a5-6f0a-4767-988c-dd3f14c622a1
21       11             18           US  001a597e-221e-47b3-8928-1c339cd00ea4
22       40             31           US  cd843549-fe99-47ed-84d6-835dd0edb417
23       34             28           DE  39d90df9-4b89-4ef5-bb70-78713790063e
24       13             12           US  bdf8f849-1ac2-456e-9b92-a1e5355520f0
26        9             29           IT  2e8b7e2e-37d6-4d7e-a9ef-17efe8bff065
29       25             11           UK  c99f4a5f-6d5b-4bfe-bc4b-26af02f74bb1
31       10             14           DE  b0a456d2-5d01-40b3-9b67-67ce96789c77
36       30              9           US  8dd16258-0ad8-4fef-8755-dfc7293f3c66
37       19             11           DE  20bb8b6c-ec0b-41f2-8c13-781bf2a2d22d
39       10             22           US  8d5e7dce-bab2-4fcf-bd94-6805f776baf1
41       24             19           UK  43bd7feb-3fea-40b4-a140-d01a35ec1f73
43       18             10           DE  6e25e2a5-8759-40c0-9f82-b52c0d1e27c7
47       14              9           US  4a7ed0cb-e954-4aba-9e94-b181d593eee4
50       40             14           DE  fb1af15e-fb01-43c7-bbaf-bcb575ff3832
55       30             28           US  3e3b1372-eb14-4fea-856a-c5b1e6be6137
57        7             20           DE  0c667f97-86cc-4393-bd4b-c41ce231fbb8
59       27             14           IT  be391a1d-b7d6-43af-8beb-a2b393d6b4ce
60        0             22           IT  591941fc-4a12-46c8-81ae-b33b3cf8ce32
63        6             31           US  204c38ac-802e-4558-ac5d-24a0b004a1f9
64        7              6           IT  765c0ae9-4765-41a5-bd06-32783c92dbbf
69       32             10           DE  59905e07-895e-4b1c-b3c6-f20972ab29c3
71       12             19           IT  124c2202-559c-4215-af94-787401598b5d
76       34             17           IT  733bcc5b-4ed5-4a03-ad86-153002e9dab2
82       38             28           IT  2e03bcda-9bf0-490d-bb71-988c37965bed
83       26             17           US  74a7cd15-f2b4-48b3-a5f0-ed966978746f
88       14             10           UK  5b6211e2-cb03-4137-933a-86b36978cb1f
97       40             30           DE  b07af059-4776-4d24-aaea-2c2628c2d613
98        6             15           DE  9e00bde2-8d14-4678-94c3-e7b5fef53d8c
103      23             17           US  77e8e3b3-de60-4de6-8473-00bf55c45878
104      35             33           US  d75d68bc-2dea-40e3-9b7e-0544612974aa
120      18             16           IT  d73d8029-ce13-43c3-99b1-1676beeb9dd7
124       5             12           IT  ab769c09-d2e8-499b-8e8f-017c526910c8
126       5             21           DE  e3e7169e-2014-4001-8b55-1eda0cbb21bc
128      26             16           DE  980e11e7-92b5-4c64-b00e-1981bafb4e7a
131      39              5           US  01e1d53d-a882-4281-86c3-e2ab1a666f18
138       5             10           US  18305dd6-46e1-40f4-aa04-c88ea3e6be98
143      10             16           DE  5f47f89d-49e2-41c6-8982-01928b5dba05
165       7              6           IT  a36d3dfa-ed73-4977-8109-8fcf322d5495
168       4             32           UK  a7827ab6-c4d2-475f-ab56-3a19c3172184

In [3]:
clicks_path= "clicks.json"
clicks= pd.read_json(clicks_path)

clicks = clicks.rename(columns={"impression_id": "id"})
clicks = clicks.astype({"id": str, "revenue": float})
clicks

                                      id   revenue
0   97dd2a0f-6d42-4c63-8cd6-5270c19f20d6  2.091226
1   43bd7feb-3fea-40b4-a140-d01a35ec1f73  2.479458
2   1b04c706-e3d7-4f70-aac8-25635fa24250  1.061739
3   31214d91-d950-4464-8316-ed3d302d49d3  2.074762
4   fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.783758
..                                   ...       ...
90  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521  2.070345
91  fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.287619
92  a94c843b-97de-4f59-be3c-2f71adeaf961  2.270868
93  11454767-ba1e-4e86-ba00-242dc85e73a4  0.954548
94  b2a60f0d-1d08-4738-9dc5-0eed9cddee82  0.804509

[95 rows x 2 columns]

In [4]:
merged = pd.merge(impressions, clicks, on="id")
merged

,app_id,advertiser_id,country_code,id,revenue
0,4,15,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.355039
1,4,15,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.070345
2,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.783758
3,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.898978
4,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.287619
...,...,...,...,...,...
60,33,11,US,fdc0a639-4b2d-4332-8f4e-7e08086a78c3,1.853479
61,21,22,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,1.061739
62,21,22,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,0.110705
63,23,10,US,a94c843b-97de-4f59-be3c-2f71adeaf961,2.270868
64,1,7,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030

In [5]:
impression_count = impressions.groupby(['app_id','country_code','advertiser_id'])['advertiser_id'].size().reset_index(name='impression_count')
impression_count = impression_count.astype({'impression_count': int})
impression_count.tail(50)

    app_id country_code  advertiser_id  impression_count
15       9           US              8                 1
16      10           DE             14                 1
17      10           DE             16                 1
18      10           US             22                 1
19      11           US             18                 1
20      12           IT             19                 1
21      13           DE             10                 1
22      13           US             12                 1
23      14           UK             10                 1
24      14           US              9                 1
25      15           US             34                 1
26      16           UK             17                 1
27      16           US              7                 1
28      18           DE             10                 1
29      18           IT             16                 1
30      19           DE             11                 1
31      19           UK             16                 1
32      19           US             22                 1
33      20           IT             30                 1
34      21           DE             22                 1
35      21           IT             10                 1
36      22           DE             20                 1
37      22           DE             24                 1
38      22           IT             20                 1
39      23           US             10                 1
40      23           US             17                 1
41      24           UK             19                 1
42      25           UK             11                 1
43      26           DE             16                 1
44      26           US             17                 1
45      27           IT             14                 1
46      28           US             29                 1
47      29           DE              7                 1
48      30           DE             27                 1
49      30           US              9                 1
50      30           US             28                 1
51      32           DE             10                 1
52      32           UK              8                 1
53      33           US             11                 1
54      34           DE             28                 1
55      34           IT             17                 1
56      35           IT             33                 1
57      35           US             33                 1
58      38           IT             10                 1
59      38           IT             28                 1
60      39           US              5                 1
61      40           DE             14                 1
62      40           DE             30                 1
63      40           US             26                 1
64      40           US             31                 1

In [6]:
click_count = merged.groupby(['app_id','country_code','advertiser_id'])['revenue'].size().reset_index(name='click_count')
click_count

    app_id country_code  advertiser_id  click_count
0        1           IT              7            1
1        4           IT             15            2
2        5           DE             21            1
3        5           IT             12            2
4        7           DE             20            1
5        7           IT              6            1
6        9           US              8            2
7       10           US             22            2
8       11           US             18            1
9       13           DE             10            1
10      13           US             12            2
11      14           UK             10            1
12      15           US             34            1
13      16           UK             17            4
14      16           US              7            3
15      18           DE             10            1
16      18           IT             16            1
17      21           DE             22            2
18      22           DE             20            2
19      22           IT             20            3
20      23           US             10            1
21      23           US             17            2
22      24           UK             19            2
23      25           UK             11            1
24      26           DE             16            1
25      27           IT             14            1
26      28           US             29            4
27      30           DE             27            2
28      30           US              9            5
29      30           US             28            1
30      33           US             11            1
31      34           DE             28            2
32      35           IT             33            1
33      38           IT             10            2
34      39           US              5            1
35      40           DE             14            3
36      40           DE             30            1

In [7]:
revenue = merged.groupby(['app_id','country_code'])['revenue'].sum().reset_index()
revenue

    app_id country_code   revenue
0        1           IT  2.290030
1        4           IT  4.425384
2        5           DE  0.788711
3        5           IT  5.136534
4        7           DE  0.356624
5        7           IT  0.934817
6        9           US  2.789852
7       10           US  1.348501
8       11           US  1.785073
9       13           DE  0.463224
10      13           US  2.605671
11      14           UK  2.345114
12      15           US  2.135244
13      16           UK  7.016603
14      16           US  4.983315
15      18           DE  0.388200
16      18           IT  2.880423
17      21           DE  1.172445
18      22           DE  4.960972
19      22           IT  7.970356
20      23           US  4.550725
21      24           UK  3.432455
22      25           UK  1.849348
23      26           DE  1.588118
24      27           IT  0.582097
25      28           US  8.327080
26      30           DE  4.589644
27      30           US  5.911654
28      33           US  1.853479
29      34           DE  3.698559
30      35           IT  0.242942
31      38           IT  2.596509
32      39           US  1.319781
33      40           DE  5.879892

In [8]:
advertiser_impressions=impressions.groupby(['app_id','country_code','advertiser_id'])['id'].count().reset_index(name='advertiser_impressions')
advertiser_impressions

    app_id country_code  advertiser_id  advertiser_impressions
0        0           IT             22                       1
1        1           IT              7                       1
2        4           IT             15                       1
3        4           UK             32                       1
4        5           DE             21                       1
..     ...          ...            ...                     ...
60      39           US              5                       1
61      40           DE             14                       1
62      40           DE             30                       1
63      40           US             26                       1
64      40           US             31                       1

[65 rows x 4 columns]

In [9]:
advertiser_revenue = merged.groupby(['app_id','country_code','advertiser_id'])['revenue'].sum().reset_index(name='advertiser_revenue')
advertiser_revenue

    app_id country_code  advertiser_id  advertiser_revenue
0        1           IT              7            2.290030
1        4           IT             15            4.425384
2        5           DE             21            0.788711
3        5           IT             12            5.136534
4        7           DE             20            0.356624
5        7           IT              6            0.934817
6        9           US              8            2.789852
7       10           US             22            1.348501
8       11           US             18            1.785073
9       13           DE             10            0.463224
10      13           US             12            2.605671
11      14           UK             10            2.345114
12      15           US             34            2.135244
13      16           UK             17            7.016603
14      16           US              7            4.983315
15      18           DE             10            0.388200
16      18           IT             16            2.880423
17      21           DE             22            1.172445
18      22           DE             20            4.960972
19      22           IT             20            7.970356
20      23           US             10            2.270868
21      23           US             17            2.279857
22      24           UK             19            3.432455
23      25           UK             11            1.849348
24      26           DE             16            1.588118
25      27           IT             14            0.582097
26      28           US             29            8.327080
27      30           DE             27            4.589644
28      30           US              9            5.138592
29      30           US             28            0.773062
30      33           US             11            1.853479
31      34           DE             28            3.698559
32      35           IT             33            0.242942
33      38           IT             10            2.596509
34      39           US              5            1.319781
35      40           DE             14            5.691894
36      40           DE             30            0.187998

In [10]:
metric=pd.merge(click_count, advertiser_revenue)
metric

    app_id country_code  advertiser_id  click_count  advertiser_revenue
0        1           IT              7            1            2.290030
1        4           IT             15            2            4.425384
2        5           DE             21            1            0.788711
3        5           IT             12            2            5.136534
4        7           DE             20            1            0.356624
5        7           IT              6            1            0.934817
6        9           US              8            2            2.789852
7       10           US             22            2            1.348501
8       11           US             18            1            1.785073
9       13           DE             10            1            0.463224
10      13           US             12            2            2.605671
11      14           UK             10            1            2.345114
12      15           US             34            1            2.135244
13      16           UK             17            4            7.016603
14      16           US              7            3            4.983315
15      18           DE             10            1            0.388200
16      18           IT             16            1            2.880423
17      21           DE             22            2            1.172445
18      22           DE             20            2            4.960972
19      22           IT             20            3            7.970356
20      23           US             10            1            2.270868
21      23           US             17            2            2.279857
22      24           UK             19            2            3.432455
23      25           UK             11            1            1.849348
24      26           DE             16            1            1.588118
25      27           IT             14            1            0.582097
26      28           US             29            4            8.327080
27      30           DE             27            2            4.589644
28      30           US              9            5            5.138592
29      30           US             28            1            0.773062
30      33           US             11            1            1.853479
31      34           DE             28            2            3.698559
32      35           IT             33            1            0.242942
33      38           IT             10            2            2.596509
34      39           US              5            1            1.319781
35      40           DE             14            3            5.691894
36      40           DE             30            1            0.187998

In [11]:
metrics=pd.merge(impression_count, metric, how='left').fillna(0)
metrics

,app_id,country_code,advertiser_id,impression_count,click_count,advertiser_revenue
0,0,IT,22,1,0.0,0.000000
1,1,IT,7,1,1.0,2.290030
2,4,IT,15,1,2.0,4.425384
3,4,UK,32,1,0.0,0.000000
4,5,DE,21,1,1.0,0.788711
...,...,...,...,...,...,...
60,39,US,5,1,1.0,1.319781
61,40,DE,14,1,3.0,5.691894
62,40,DE,30,1,1.0,0.187998
63,40,US,26,1,0.0,0.000000
64,40,US,31,1,0.0,0.000000

In [12]:
metrics= metrics.rename(columns={"impression_count": "impressions", "click_count": "clicks"})
metrics= metrics[['app_id', 'country_code', 'impressions', 'clicks', 'advertiser_revenue']]

In [13]:
top5=pd.merge(advertiser_revenue, advertiser_impressions,  how='left').fillna(0)
top5["advertiser_rates"] = top5["advertiser_revenue"]/top5["advertiser_impressions"]
top5.sort_values(by=['app_id', 'country_code', 'advertiser_rates'])
top5

,app_id,country_code,advertiser_id,advertiser_revenue,advertiser_impressions,advertiser_rates
0,1,IT,7,2.290030,1,2.290030
1,4,IT,15,4.425384,1,4.425384
2,5,DE,21,0.788711,1,0.788711
3,5,IT,12,5.136534,1,5.136534
4,7,DE,20,0.356624,1,0.356624
5,7,IT,6,0.934817,2,0.467408
6,9,US,8,2.789852,1,2.789852
7,10,US,22,1.348501,1,1.348501
8,11,US,18,1.785073,1,1.785073
9,13,DE,10,0.463224,1,0.463224
10,13,US,12,2.605671,1,2.605671
11,14,UK,10,2.345114,1,2.345114
12,15,US,34,2.135244,1,2.135244
13,16,UK,17,7.016603,1,7.016603
14,16,US,7,4.983315,1,4.983315
15,18,DE,10,0.388200,1,0.388200
16,18,IT,16,2.880423,1,2.880423
17,21,DE,22,1.172445,1,1.172445
18,22,DE,20,4.960972,1,4.960972
19,22,IT,20,7.970356,1,7.970356
20,23,US,10,2.270868,1,2.270868
21,23,US,17,2.279857,1,2.279857
22,24,UK,19,3.432455,1,3.432455
23,25,UK,11,1.849348,1,1.849348
24,26,DE,16,1.588118,1,1.588118
25,27,IT,14,0.582097,1,0.582097
26,28,US,29,8.327080,1,8.327080
27,30,DE,27,4.589644,1,4.589644
28,30,US,9,5.138592,1,5.138592
29,30,US,28,0.773062,1,0.773062
30,33,US,11,1.853479,1,1.853479
31,34,DE,28,3.698559,1,3.698559
32,35,IT,33,0.242942,1,0.242942
33,38,IT,10,2.596509,1,2.596509
34,39,US,5,1.319781,1,1.319781
35,40,DE,14,5.691894,1,5.691894
36,40,DE,30,0.187998,1,0.187998

In [14]:
recommended_advertisers=top5['advertiser_id'].groupby([top5.app_id, top5.country_code]).apply(list).reset_index()
recommended_advertisers=recommended_advertisers.rename(columns={"advertiser_id": "recommended_advertiser_ids"})
recommended_advertisers

    app_id country_code recommended_advertiser_ids
0        1           IT                        [7]
1        4           IT                       [15]
2        5           DE                       [21]
3        5           IT                       [12]
4        7           DE                       [20]
5        7           IT                        [6]
6        9           US                        [8]
7       10           US                       [22]
8       11           US                       [18]
9       13           DE                       [10]
10      13           US                       [12]
11      14           UK                       [10]
12      15           US                       [34]
13      16           UK                       [17]
14      16           US                        [7]
15      18           DE                       [10]
16      18           IT                       [16]
17      21           DE                       [22]
18      22           DE                       [20]
19      22           IT                       [20]
20      23           US                   [10, 17]
21      24           UK                       [19]
22      25           UK                       [11]
23      26           DE                       [16]
24      27           IT                       [14]
25      28           US                       [29]
26      30           DE                       [27]
27      30           US                    [9, 28]
28      33           US                       [11]
29      34           DE                       [28]
30      35           IT                       [33]
31      38           IT                       [10]
32      39           US                        [5]
33      40           DE                   [14, 30]

In [15]:
recommended_advertisers.to_json('recommended_advertiser_ids.json', orient='records')

In [16]:
metrics= metrics[['app_id', 'country_code', 'impressions', 'clicks', 'advertiser_revenue']]
metrics= metrics.rename(columns={'advertiser_revenue': "revenue"})
metrics

    app_id country_code  impressions  clicks   revenue
0        0           IT            1     0.0  0.000000
1        1           IT            1     1.0  2.290030
2        4           IT            1     2.0  4.425384
3        4           UK            1     0.0  0.000000
4        5           DE            1     1.0  0.788711
..     ...          ...          ...     ...       ...
60      39           US            1     1.0  1.319781
61      40           DE            1     3.0  5.691894
62      40           DE            1     1.0  0.187998
63      40           US            1     0.0  0.000000
64      40           US            1     0.0  0.000000

[65 rows x 5 columns]

In [17]:
metrics.to_json('metrics.json', orient='records')